<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Event Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<header class="sticky-top" th:replace="~{header :: stick}"></header>

<body>
<!-- Check for login error -->
	<div class="row justify-content-center">
		<div th:if="${param.error}" class="col">
			<div class="alert alert-danger  alert-dismissible">
				Invalid username and password.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
			<!--Check for logout-->
		<div th:if="${param.logout}" class="col">
	
			<div class="alert alert-success alert-dismissible">
				You have been logged out.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>

	</div>

	<div class="container">
        <h3>Events</h3>
        <ul class="nav nav-tabs" id="eventTabs" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="attending-tab" data-bs-toggle="tab" data-bs-target="#attending-tab-pane" 
                 type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"
                >Attending</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="invited-tab" data-bs-toggle="tab" data-bs-target="#invited-tab-pane" 
                 type="button" role="tab" aria-controls="invited-tab-pane" aria-selected="true"
                >Invited</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="declined-tab" data-bs-toggle="tab" data-bs-target="#declined-tab-pane" 
                 type="button" role="tab" aria-controls="declined-tab-pane" aria-selected="true"
                >Declined</button>
              </li>

        </ul>
		<div class="row mt-2 tab-content">
            <div class="col-4 tab-pane fade show active" id="attending-tab-pane" aria-labelledby="attending-tab" tabindex="0">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" data-bs-toggle="list" aria-current="true">
                      The current button
                    </button>
                    <a type="button" class="list-group-item list-group-item-action" th:each="event, eStat : ${userJoinEvents}" 
                        th:if="${event.status.id == 2}" th:id="|eventButton${eStat.count}|" th:href="|#eventDetails${event.event.id}|" data-bs-toggle="list" >
                        <span class="fs-5 fw-bold" th:text="|${event.event.title}|"> </span>
                        <br>
                        <span th:text="|Date: ${event.event.event_datetime}|"></span>
                        <br>
                        <span th:text="|Movie: ${event.event.movie.title}|"> </span>
                    </a>
                </div>
            </div>
            <div class="col-4 tab-pane fade" id="invited-tab-pane" aria-labelledby="invited-tab" tabindex="0">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" data-bs-toggle="list" aria-current="true">
                      The current button
                    </button>
                    <a type="button" class="list-group-item list-group-item-action" th:each="event, eStat : ${userJoinEvents}" 
                        th:if="${event.status.id == 1}" th:id="|eventButton${eStat.count}|" th:href="|#eventDetails${event.event.id}|" data-bs-toggle="list" >
                        <span class="fs-5 fw-bold" th:text="|${event.event.title}|"> </span>
                        <br>
                        <span th:text="|Date: ${event.event.event_datetime}|"></span>
                        <br>
                        <span th:text="|Movie: ${event.event.movie.title}|"> </span>
                    </a>
                </div>
            </div>
            <div class="col-4 tab-pane fade" id="declined-tab-pane" aria-labelledby="declined-tab" tabindex="0">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" data-bs-toggle="list" aria-current="true">
                      The current button
                    </button>
                    <a type="button" class="list-group-item list-group-item-action" th:each="event, eStat : ${userJoinEvents}" 
                        th:if="${event.status.id == 3}" th:id="|eventButton${eStat.count}|" th:href="|#eventDetails${event.event.id}|" data-bs-toggle="list" >
                        <span class="fs-5 fw-bold" th:text="|${event.event.title}|"> </span>
                        <br>
                        <span th:text="|Date: ${event.event.event_datetime}|"></span>
                        <br>
                        <span th:text="|Movie: ${event.event.movie.title}|"> </span>
                    </a>
                </div>
            </div>



            <div class="col-8 tab-content" id="eventDetails">
                <div class="tab-pane fade " th:each="event, eStat : ${events}" th:id="|eventDetails${event.id}|">
                    <div class="row">
                        <div class="col-6 border-start border-2">
                            <span class="fs-2" th:text="${event.title}"></span>
                            <br>
                            <span class="fs-4" th:text="|Date: ${event.event_datetime}|"></span>
                            <br>
                            <span class="fs-4" th:text="|Movie: ${event.movie.title}|"> </span>
                            <br>
                            <span class="fs-4" th:text="|Users attending:|"></span>
                            <ul>
                                <li th:each="user : ${event.invitedUsers}" th:text="|${user.user.firstName} ${user.user.lastName}|" th:if="${user.status.id == 2}" ></li>
                            </ul>
                        </div>
                        <div class="col-6 border-start border-2">
                            <img class="img-fluid m-2" th:src="|https://image.tmdb.org/t/p/w300/${event.movie.posterPath}|" alt="">
                            <h4 th:text="|${event.movie.title} (${event.movie.year})|"></h4>
                            <h4 th:text="|Director: ${event.movie.director}|"></h4>
                            <h4>Summary: </h4>
                            <p th:text="|${event.movie.description} (From TMDB)|"></p>
                        </div>

                    </div>


                </div>
            
            
            </div>


		</div>

	</div>

	

</div>

</body>

<footer th:insert="~{footer :: footer}"></footer>




<script src="https://code.jquery.com/jquery-3.7.0.min.js"
integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script th:inline="javascript">


$(document).ready(function () {


    const listItems = $(".list-group-item");


    listItems.forEach(element => {
        element.addEventListener("click", function(event){

            $(".list-group-item.active").removeClass("active")
            // for (let i = 0; i < listItems.length; i++) {
            //     listItems.get(i).remo
                
            // }
        })
        
    });

})


</script>