<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<header th:fragment="stick" >

		<nav class="navbar container-fluid navbar-expand-lg bg-light">
			<div class="container">
			  <a class="navbar-brand" href="#" th:href="@{/}">Home </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/lists">Watchlists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user">User Settings</a>
                  </li>
				  <li class="nav-item">
                    <a class="nav-link" href="/invites">Invites</a>
                  </li>
                </ul>

              </div>


			  <span class=" d-flex">
				<a class="btn btn-outline-success me-2" type="button" href="/signup"> Log in / Sign up</a>
			  </span>
			</div>

		</nav>


		<div class="row justify-content-center">
			<div th:if="${error}" class="col">
				<div class="alert alert-danger  alert-dismissible" th:text="${error}">
					error
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
			<div th:if="${success}" class="col">
				<div class="alert alert-success  alert-dismissible" th:text="${success}">
					success
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
			<div th:if="${#strings.equals(param.success, 'order')}" class="col">
				<div class="alert alert-success  alert-dismissible" >
					Order Placed
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>

			<div id="alertPlaceholder">

			</div>
	
		</div>
	
	</div>
</div>
	
</header>
</html>