<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<header class="sticky-top" th:replace="~{header :: stick}"></header>

<body >
    <!-- Check for login error -->
	<div class="row justify-content-center">
		<div th:if="${param.error}" class="col">
			<div class="alert alert-danger  alert-dismissible">
				Invalid username and password.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
			<!--Check for logout-->
		<div th:if="${param.logout}" class="col">
	
			<div class="alert alert-success alert-dismissible">
				You have been logged out.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
        <div th:if="${alert}" class="col">
	
			<div class="alert alert-success alert-dismissible" th:text="${alert.message}">
				You have been logged out.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>

	</div>
    <div class="container">
        <h3 class="my-3">Add new Movies</h3>
    <div class="">
        <form class="mb-2" role="search" id="searchForm">
            <input class="form-control mb-2 col-5" type="search" id="searchBox" placeholder="Search" aria-label="Search">
            <button type="submit" id="searchButton" class="btn btn-primary col-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Search</button>
        </form>
    </div>



      <!-- Search Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Search Results</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="searchModalBody">
                List of Movies
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


          <!-- Create List Modal -->
          <div class="modal fade" id="createListModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="mt-2 container form-horizontal needs-validation novalidate" method="POST" action="#" th:action="@{/lists/create}"
                        th:object="${newWatchList}">
                         
  
                        <div style="margin-bottom: 25px">
                            <label class="form-label" for="name">Watchlist Name:</label>  
                            <input type="text" th:field="*{name}" placeholder="Watchlist Name" class="form-control" minlength="4" required />
                            <div class="invalid-feedback">
                                Please use at least 4 characters.
                              </div>
                        </div>



                        <button class="btn btn-primary mb-2" type="submit">Create List</button>
                        <button type="button" class="btn btn-secondary mb-2" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>



    <h3 class="mt-3">My Lists</h3>
    <div class="row">

        <div class="col-7">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" 
                  th:attr="data-bs-target='#List'+${watchLists[0].id}" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"
                  th:text="${watchLists[0].name}">List 1</button>
                </li>
                <li class="nav-item" role="presentation" th:each="watchList, wStat : ${watchLists}" th:if="${wStat.count} &gt; 1">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" 
                    th:attr="data-bs-target='#List'+${watchList.id}" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"
                    th:text="${watchList.name}">List 1</button>
                  </li>
                <!-- <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">List 2</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Watched</button>
                </li> -->
                <li class="nav-item text-decoration-underline text-primary " role="presentation">
                    <button class="nav-link text-primary" id="create-tab" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"
                    data-bs-toggle="modal" data-bs-target="#createListModal"
                    >Create List</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" th:each="watchList, wStat : ${watchLists}" id="home-tab-pane" th:id="'List'+${watchList.id}" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <row class="row g-3">
                    <div class="col" th:each="listItem, iStat : ${watchList.movies}">
                        <div class="card" style="width: 12rem;">
                            <img th:src="|https://image.tmdb.org/t/p/w300/${listItem.movie.posterPath}|" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title" th:text="|${listItem.rank}.${listItem.movie.title} (${listItem.movie.year})|">Card title</h5>
                            <p class="card-text text-truncate" th:text="${listItem.movie.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <btn 
                            
                            th:onclick="|displayDetails(${watchList.id},${listItem.rank})|"
                            th:id="'List'+${watchList.id}+'-'+${listItem.id}" class="btn btn-primary">Display details</btn>
                            <btn th:href="@{/api/list/removeListItem(itemId=${listItem.id},listId=${watchList.id})}" 
                            th:onclick="|deleteFromList(${listItem.id},${listItem.listID})|" id="delete" class="btn btn-danger">Remove</btn>
                            </div>
                        </div>
                    </div>
                </row>
            </div>
            <!-- <div class="tab-pane fade" id="profile-tab-pane" th:id="'#List'+${watchList.id}" role="tabpanel" aria-labelledby="profile-tab" tabindex="0" th:each="watchList, wStat : ${watchLists}" th:if="${wStat.count} &gt; 1">...</div> -->
            <!-- <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="disabled-tab-pane" th:id="${watchList.name}" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div> -->
            </div>
        </div>
        <div class="col-5" id="details">

            <img class="img-fluid m-2" src="https://placehold.co/300" alt="">
            <h3>Movie Title</h3>
            <h3>Director: Person 1</h3>
            <h4>Summary: </h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam maxime dolore nostrum accusamus culpa! Enim numquam delectus itaque iste impedit esse cupiditate, dolore sunt laudantium cum fuga temporibus illum aspernatur!</p>

            <input type="date" name="invite">
            <button class="btn btn-primary"> Create Invite</button>
        </div>

    </div>



	

</div>

    </div>



    

</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"
integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script th:inline="javascript">

    function addToList(tmdbID, listId){
            console.log("Tried to add")

            //ajax request
            $.post( `http://localhost:8080/api/list/addListItem?tmdbId=${tmdbID}&listId=${listId}`, function( data, status ) {
                console.log(data)
                location.reload();

            }).fail(function (request, status,error) {
                console.log(request)
                console.log(status)
                console.log(error)
                console.log("AJAX add FAIL")

            });


    }
    function deleteFromList(itemId, listId){
                    //ajax request
                $.post( `http://localhost:8080/api/list/removeListItem?itemId=${itemId}&listId=${listId}`, function( data, status ) {
                console.log(data)
                location.reload();


            }).fail(function (request, status,error) {
                console.log(request)
                console.log(status)
                console.log(error)
                console.log("AJAX delete FAIL")

            });
    }

    const deleteButton = document.getElementById("delete").addEventListener("click", function(){;
        if (!(confirm('Are you sure you want to delete this Movie?'))) return false
        else{

        };
    })

    function displayDetails(listId, itemRank){
        let details = $("#details");
        //document.getElementbyId("details");
        details.empty();
        let lists = /*[[${watchLists}]]*/ null;;
        let list;
        console.log(listId)
        for (let index = 0; index < lists.length; index++) {
            console.log(lists[index].id)
            if(listId == lists[index].id) list = lists[index];
            
        }
        //console.log(list)
        let movie = list.movies[itemRank-1].movie;
        let path = movie.posterPath;
        let title = movie.title;
        let description = movie.description;
        let year = movie.year;
        let director = movie.director;
        details.append(
            `
            <img class="img-fluid m-2" src="https://image.tmdb.org/t/p/w300/${path}" alt="">
            <h3>${title} (${year})</h3>
            <h3>Director: ${director}</h3>
            <h4>Summary: </h4>
            <p>${description} (From TMDB)</p>

            <input type="date" name="invite">
            <button class="btn btn-primary"> Create Invite</button>
        </div>
        `
        )
    }


$(document).ready(function () {


    $("#details").on("click", function(event){
        let element = $("#details");
        let i = element.data("i");
        event.preventDefault();
        $("#details").empty();
        displayDetails(i);
    });

    function displayDetails1(iterator){
        let details = $("#details");
        //document.getElementbyId("details");
        details.empty();
        let lists = /*[[${watchLists}]]*/ null;;
        let path = lists[iterator].movies[0].movie.poster_path;
        details.append(
            `
            <img class="img-fluid m-2" src="${path}" alt="">
            <h3>Movie Title</h3>
            <h3>Director: Person 1</h3>
            <h4>Summary: </h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam maxime dolore nostrum accusamus culpa! Enim numquam delectus itaque iste impedit esse cupiditate, dolore sunt laudantium cum fuga temporibus illum aspernatur!</p>

            <input type="date" name="invite">
            <button class="btn btn-primary"> Create Invite</button>
        </div>
        `
        )
    }



    $("#searchForm").on("submit", function(event){
        event.preventDefault();
        title = $("#searchBox").val()
        $("#searchModalBody").empty();
        getSearchResults(title);
    });

    $("#newAddress").on("click", function()
    {
        $("#addressInput").append(`
        <div class="col-6">
                            <label for="line1">Address Line 1:</label>
                            <input type="text" th:field="*{shipment.address.line1}" class="form-control mb-4 " placeholder="Address Line 1" id="line1" required>
                        </div>
                        <div class="col-4">
                            <label for="line2">Address Line 2:</label>
                            <input type="text" th:field="*{shipment.address.line2}" class="form-control mb-4 " placeholder="Address Line 2" id="line2">               
                        </div>
                        <div class="col-3">
                            <label for="city">City:</label>
                            <input type="text" th:field="*{shipment.address.city}" class="form-control mb-4 " placeholder="city" id="city" required>   
                        </div>
                        <div class="col-3">
                            <label for="state">State:</label>
                            <input type="text" th:field="*{shipment.address.state}" class="form-control mb-4 " placeholder="state" id="state" required>     
                        </div>       
                        <div class="col-3">                        
                            <label for="zipcode">Zipcode:</label>       
                            <input type="text" th:field="*{shipment.address.zipcode}" class="form-control mb-4 " pattern="[0-9]+" reg placeholder="zipcode" id="zipcode" required>
                        </div>  `)
    })

    $("#oldAddress").on("click", function()
    {
        $("#addressInput > div").remove()
    })

   // $("#total").text(`${total}`)
    function getSearchResults(title) {
        
        let i = 0;
        let listId = $(".tab-pane.active")[0].id.split("t")[1];

        console.log(`localhost:8080/api/tmdb/search/${title}`) //call to get search results eventually once API is implemented
        $.getJSON(`http://localhost:8080/api/tmdb/search/${title}`, function (data, status) {
            //alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
            console.log("start movie fetch ajax")
            console.log(data)
            // append to search modal which will display results and let user select what movie to add
            //this will need to be looped for each result returned, limit to 10 results
            for (let index = 0; index < data.results.length && index <= 6; index++) {
                $("#searchModalBody").append(`
                <tr class="pb-3">
                        <th scope="row ">
                            <row class="row ">
                                <div class="row">
                                    <p class="fs-5" style="">${data.results[index].title} (${data.results[index].release_date.substring(0,4)})</p>
                                    <p class="fw-normal fs-6">${data.results[index].overview.substring(0,100) + "..."}</p>
                                </div>
                                <button type="button" class="btn btn-primary" onClick="addToList(${data.results[index].id}, ${listId})">Add Movie to List</button>
                            </row>
                        </th>
                </tr>
                `) 
            }
 
        }).fail(function (request, status,error) {
            console.log(request)
            console.log(status)
            console.log(error)
            console.log("AJAX Search FAIL")

        });

            

    }



})
</script>
